<html lang="en">
<head>
    <meta property="og:title" content="{{ info.title }}"/>
    <meta property="og:site_name" content="{{ info.creator }}"/>
    <meta property="og:video" content="{{ video_url }}"/>
    <meta property="og:video:secure_url" content="{{ video_url }}"/>
    <meta property="og:video:width" content="{{ info.width }}"/>
    <meta property="og:video:height" content="{{ info.height }}"/>
    <meta property="og:type" content="video.other"/>
    <meta property="og:video:type" content="video/mp4"/>
    <!--TODO bring back color-->
    <!--<meta name="theme-color" content="#ff0050" />-->
    <!--TODO bring back client redirects-->
    <!--<meta http-equiv="refresh" content="0; URL={{ original_url }}">-->
</head>
</html>