<html lang="en">
<head>
    <meta property="og:title" content="{{ info.title }}"/>
    {% if creator_str %}
        <meta property="og:site_name" content="{{ creator_str }}"/>
    {% endif %}
    <meta property="og:video" content="{{ video_url }}"/>
    <meta property="og:video:secure_url" content="{{ video_url }}"/>
    <meta property="og:video:width" content="{{ info.width }}"/>
    <meta property="og:video:height" content="{{ info.height }}"/>
    <meta property="og:type" content="video.other"/>
    <meta property="og:video:type" content="video/mp4"/>
    {% if color %}
        <meta name="theme-color" content="{{ color }}"/>
    {% endif %}
    <link type="application/json+oembed" href="{{ oembed_url }}"/>
    <meta http-equiv="refresh" content="0; URL={{ original_url }}">
</head>
<body>
<p>Redirecting...</p>
<p>If the redirect isn&#39;t working <a href="{{ original_url }}">Click here</a></p>
</body>
</html>
